/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: #ffffee;
  color: #111111;
}

* {
  margin: 0;
  padding: 0;
}

.block {
  font-size: 1rem;
  width: 100%;
  display: inline-block;
}

.col_1 {
  width: 225px; 
}

.col_2 {
  width: 462px;
}

.col_3 {
  width: 699px;
}

.col_4 {
  width: 936px;
}

.col_1, .col_2, .col_3, .col_4 {
  padding: 6px;
}

.col_1,
.col_2,
.col_3,
.col_4 div{
  display: inline-block;
}

.left_col {
  width: 50%;
  display: inline-block;
}

.img_col_2 {
  width: 462px;
  height: 462px;
  background: rgba(204,204,115,0.15);
}

.right_col {
  width: 50%;
  display: inline-block;
}

.container {
  font-size: 0;
  width: 960px;
  position: relative;
  margin: auto;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
/*  color: #99cc66;*/
}

h3 {
  font-weight: 300;
  font-size: 1.5em;
  color: #22cc00;
}

h3 a {
  color: #22cc00;
}

img {
  width: 100%;
}

.box {
  padding: 6px;
/*  width: 960px;*/
}

.no_padding {
  padding: 0 !important;
}

header {
  
}

header h1 {
  line-height: 100%;
  color: #333399; 
/*  font-size: 2.2em;*/
}

.nav_main {
  padding-bottom: 20px;
/*  padding-top: 20px;*/
  margin-bottom: 10px;
  text-align: right;
}

.nav_main li {
  font-size: 1.3em;
}

.nav_main a {
/*  color: #66cc00;*/
}

nav li {
  text-decoration: none;
  padding-right: 20px;
  color: #333399;
  list-style: none;
  display: inline-block;
}


.nav_main {

}

.body {
  display: inline-block;
}

.body div {
  display: inline-block;
  vertical-align: top;
}

section {
  padding-bottom: 30px;
}

.intro_text {
  
}

p {
  padding-bottom: 20px;
}

.graph_container {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

.graph_legend {
  background: rgba(204,204,115,0.15);
/*  border-radius: 8px;*/
/*  border: rgba(192,192,192,0.2) 4px solid;
  padding: 2px !important;*/
}

.graph_legend h4{
  padding-top: 10px;
}

.city_graph h4{
  text-align: center;
  padding-top: 10px;
  color: #333399;
  font-weight: 400;
}

.city_graph a{
  text-decoration: none;
  color: #111;
  text-align: center;
}

.img_col_1 {
  width: 226px;
}

.findings_text {
  margin: auto;
}

.findings_text div{
  margin-left: 115px;
  width: 699px;
}

/*--*/

.section_title p {
  padding-bottom: 0;
}

.section_title > *{
  vertical-align: bottom !important;
  bottom: 0;
}

.us_map {
  width: 462px;
}

.city_us_map {
  width: 226px;
}

.base_chart, .us_avg_chart {
  position: absolute;
  left: 12px;
  width: 226px;
}

.base_chart {
  z-index: -20;
}

.chart_under {
  z-index: -10;
}

.chart_over {
  z-index: 10;
}

table {
  text-align: left;
}

.right_col table th {
  text-align: center;
}

.right_col table .table_left_col {
  text-align: right;
  padding-right: 12px;
}

td {
  padding-bottom: 8px;
  line-height: 1;
  vertical-align: top;
}

th {
  padding-bottom: 4px;
}

.bottom_links ul {
  margin: 0;
}

.bottom_links li {
  list-style: none;
  color: #333399;
}

.bottom_links li a {
  text-decoration: none;
}

/*- MEASURES PAGE -*/
.measures_subnav {
  position: fixed;
  background: rgba(204,204,115,0.15);
  width: 210px;
/*  border-radius: 8px;*/
}
/*
.measures_subnav a {
  color: #22cc00;
}*/

#col_3_right {
  margin-left: 237px;
  width: 711px;
}

a {
  color: #22ddcc;
  /*color: #22cc00; /*green*/
  text-decoration: none;
}

/* TWEAK CHARTIST BAR GRAPH */

/*- ABOUT PAGE -*/
ol, ul {
  margin-left: 40px;
}

.endnotes {
  color: #66cccc;
  text-decoration: none;
}

.endnotes_section div .endnotes_list> * {
  font-size: 0.8em;
}

.endnotes_list {
  margin-left: 40px;
}

.endnotes_list a {
  color: #111111;
}

/*-FOOTER-*/

footer {
  margin-bottom: 20px;
}

footer > * {
  vertical-align: top;
}

footer .copyright p {
  font-size: 0.813em;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}